.skills {
  background: transparent;
  color: white;
  padding: 100px 10%;
  position: relative;
}

.skills::before {
  content: "";

  position: absolute;

  width: 400px;
  height: 400px;

  left: -100px;
  top: 100px;

  background: rgba(0, 212, 255, 0.12);

  filter: blur(180px);

  pointer-events: none;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
}

.skills-left {

  background: rgba(255,255,255,0.05);

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255,255,255,0.08);

  border-radius: 25px;

  padding: 35px;
}

.skills-left h3 {
  font-size: 35px;
  color: #ff6b00;
  margin-bottom: 20px;
}

.skills-left p {
  color: #cfcfcf;
  line-height: 1.9;
  margin-bottom: 30px;
}

.skill-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.skill-tags span {
  padding: 10px 18px;

  background: rgba(255,107,0,.12);

  border: 1px solid rgba(255,107,0,.3);

  border-radius: 25px;

  color: #ff6b00;

  transition: .3s;
}

.skill-tags span:hover {
  transform: translateY(-4px);

  background: rgba(255,107,0,.2);
}

.skills-right {

  background: rgba(255,255,255,0.05);

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255,255,255,0.08);

  border-radius: 25px;

  padding: 35px;
}

.skill-item {
  margin-bottom: 25px;
}

.skill-info {
  display: flex;
  justify-content: space-between;

  margin-bottom: 10px;

  font-weight: 600;
}

.skill-info span:first-child {
  color: white;
}

.skill-info span:last-child {
  color: #00d4ff;
}

.skill-bar {
  height: 12px;

  background: rgba(255,255,255,.08);

  border-radius: 30px;

  overflow: hidden;
}

.skill-progress {
  height: 100%;

  border-radius: 30px;

  background: linear-gradient(
    90deg,
    #ff6b00,
    #00d4ff
  );

  box-shadow:
    0 0 15px rgba(255,107,0,.5);

  animation: fillBar 2s ease;
}

@keyframes fillBar {

  from {
    width: 0;
  }

}

.section-title {
  text-align: center;
  margin-bottom: 60px;
}

.section-title h2 {
  color: #ff6b00;
  font-size: 45px;
}

.underline {
  width: 120px;
  height: 4px;

  background: #00d4ff;

  margin: 15px auto;

  border-radius: 10px;
}

@media(max-width:900px){

  .skills-container{
    grid-template-columns:1fr;
  }

  .skills-left{
    text-align:center;
  }

  .skill-tags{
    justify-content:center;
  }

  .section-title h2{
    font-size:35px;
  }

}